* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

nav {
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 1em;
  padding: 0px 10px;
}

nav li {
  font-weight: 400;
}

nav li:first-child {
  font-weight: 600;
}

nav a {
  font-size: 1em;
  line-height: 28px;
  color: #22343d;
}

nav img {
  width: 24px;
  height: 24px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  width: 40px;
  margin-right: 16px;
}

.logo > h3 {
  font-size: 1.875em;
  line-height: 28px;
  color: #173a56;
}

.btn-outline-success {
  background-color: #ffffff;
  border-radius: 4px;
  height: 43px;
  font-weight: 600;
  font-size: 1em;
  line-height: 24px;
  color: #173a56;
  border: 1px solid #bcd0e5;
  cursor: pointer;
  padding: 0 25px;
  margin: 0 12px;
  white-space: pre;
}

.btn-success {
  background-color: #02897a;
  border-radius: 4px;
  border: none;
  height: 43px;
  font-weight: 600;
  font-size: 1em;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  padding: 0 25px;
  margin: 0 12px;
  white-space: pre;
}

.btn-theme-switch {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #f3f3f3;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px;
  white-space: pre;
}

.grid-container1 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 450px 500px;
  gap: 60px;
  margin-bottom: 100px;
}

.grid-container3 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 500px 450px;
  gap: 60px;
  margin-bottom: 100px;
}

.grid-item1 h1 {
  font-weight: 800;
  font-size: 2.25em;
  line-height: 60px;
  color: #22343d;
}

.grid-item1 p {
  font-weight: 500;
  font-size: 1.13em;
  line-height: 28px;
  color: #22343d;
}

.grid-item1 .btn-group {
  margin: 45px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item1 .btn-success {
  width: 175px;
  height: 53px;
  font-weight: 700;
  margin-left: 0;
  margin-right: 10px;
}

.grid-item1 .btn-outline-success {
  width: 175px;
  height: 23px;
  padding: 0;
  text-decoration: underline;
  color: #02897a;
  border: none;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  white-space: normal;
}

#play-icon {
  height: 20px;
  width: 20px;
}

.burger-menu {
  display: none;
}

.responsive {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.grid-container2 {
  display: grid;
  margin-top: 60px;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 980px;
  grid-template-rows: auto auto auto;
  gap: 1em;
  background: url("./images/Bg.png") no-repeat bottom;
  background-size: contain;
  color: #22343d;
  margin-bottom: 80px;
}

.grid-container2-reverse {
  display: grid;
  padding-top: 30px;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 980px;
  grid-template-rows: auto auto auto;
  gap: 2em;
  background: url("./images/Bg-reverse.png") no-repeat top;
  background-size: contain;
  color: #22343d;
  margin-bottom: 80px;
}

.grid-container2 h1 {
  font-size: 2em;
  line-height: normal;
  text-align: center;
  max-width: 539px;
}

.grid-container2-reverse h1 {
  text-align: center;
  font-size: 2em;
}

.grid-container2-reverse p {
  text-align: center;
  max-width: 542px;
}


.grid-container2 .grid-item3 {
  margin-bottom: 80px;
}

.grid-item2 {
  display:flex;
}

.grid-container2-reverse .grid-item2 {
  margin-bottom: 20px;
  gap: 10em;
}

.grid-container2 .grid-item2 > div {
  width: 240px;
  padding: 1em;
}

.grid-container2 .grid-item2 img {
  width: 51px;
  height: 50px;
}

.grid-container2-reverse .grid-item2 img {
  width: 98px;
  height: 98px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 2em;
  width: auto;
}

.left-chat {
  background: url("./images/Combined\ Shape.png") no-repeat;
  background-size:cover;
  padding: 15px 20px 25px;
  font-size: 1.13em;
}

.right-chat {
  background: url("./images/Combined\ Shape1.png") no-repeat;
  background-size:cover;
  padding: 15px 20px 25px;;
  font-size: 1.13em;
}

.flex-mini {
  display: flex;
  flex-direction: column;
  
}

.flex-mini div {
  display: flex;
  align-items: center;
  gap: 40px;
}

.flex-mini img {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 1020px) {

  .burger-menu {
    display: flex;
  }

  header {
    justify-content: space-between;
    align-items: baseline;
    background-color: #ffffff;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 0px 20px 10px;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  nav > ul {
    flex-direction: column;
    align-items: center;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .btn-outline-success {
    margin: 0;
  }

  .btn-success {
    margin: 0;
  }

  .btn-theme-switch {
    margin: 0;
  }

  label {
    cursor: pointer;
  }

  #menu-collapse:not(:checked) ~ nav {
    display: none;
  }

  .grid-container1 {
    display: grid;
    justify-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: unset;
    justify-content: unset;
    align-items: unset;
    gap: unset;
  }

  .grid-container3 {
    display: grid;
    justify-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: unset;
    justify-content: unset;
    align-items: unset;
    gap: unset;
  }

  .grid-container1 .grid-item1 {
    grid-area: 2 / 1;
    text-align: center;
    padding: 0px 10px;
    max-width: 380px;
  }

  .grid-container3 .grid-item1 {
    text-align: center;
    padding: 0px 10px;
    max-width: 380px;
  }

  .grid-container1 .grid-item2 {
    grid-area: 1 / 1;
    padding: 0px 20px;
  }

  .grid-container3 .grid-item2 {
   
    padding: 0px 20px;
  }

  .grid-container1 .grid-item1 .btn-group {
    margin: 5px 0px;
  }

  .grid-container1 .grid-item1 h1 {
    margin: 0;
  }

  .grid-item2 {
    flex-direction: column;
    text-align: center;
  }

  .grid-container2 h1 {
    max-width: 340px;
  }

  .grid-container2 .grid-item3 {
    margin-bottom: 40px;
  }

  .grid-container2-reverse .grid-item2 {
    gap: 1em;
  }

  .grid-container2-reverse h1 {
    line-height: normal;
  }

  .grid-container2-reverse p{
    max-width: 338px;
    margin: auto;
  }


  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

}
